        body{
            width: 100%;
            height: 300%;
        }
        #upper_nav{
            background-color: antiquewhite;
            float: right;
        }
        header{
            background-color: blanchedalmond;
        }
        #under_nav{
            background-color: beige;
            float: left;
        }
        #ju_prof{
            background-color: darkgreen;
            clear: both;
            float: left;
        }
        #ju_page{
            background-color: darkolivegreen;
            float: right;
        }
        #seo_prof{
            background-color: darkorchid;
            clear: left;
            float: right;
        }
        #seo_page{
            background-color: darkmagenta;
            float: left;
        }
        footer{
            background-color: darkkhaki;
            clear: both;
        }