        body{
            height: 100%;
        }
        #upper_nav{
            float: right;
            margin: 3px 5px 10px 5px;
            padding: 2px;
            border-radius: 15px;
            background-color: aqua;
        }
        #upper_nav > div > div{
            float: right;
            margin-left: 10px;
            margin-right: 10px;
        }
        header{
            background-color: blanchedalmond;
            height: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            clear: right;
        }
        #lower_nav{
            margin: 3px 0px 10px 0px;
            padding: 2px;
            background-color: aqua;
            height: 30px;
        }
        #lower_nav > div > div{
            float: left;
            margin-top: 5px;
            margin-left: 10px;
        }
        #ju_prof{
            clear: left;
            background-color: aquamarine;
            float: left;
            width: 400px;
            margin-bottom: 10px;
            height: 580px;
            margin-right: 10px;
        }
        section{
            float: left;
            background-color: blue;
            width: 1000px;
            height: 580px;
            margin-bottom: 10px;            
        }
        #seo_prof{
            background-color: aquamarine;
            float: right;
            width: 400px;
            height: 580px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        footer{
            background-color: darkkhaki;
            clear: both;
            height: 65px;
        }
        footer > div > div{
            float: left;
            margin: 10px 0px 5px 10px;
        }
        footer > div:nth-child(2){
            clear: both;
            margin-left: 10px;
        }