a {
    text-decoration: none;
    color: aliceblue;
}
nav a{
    color: rgb(73, 101, 126);
}
nav a:hover{
    color: rgb(0, 133, 250);
}
.prof_nav span:hover{
    background-color: #6c84d1;
}
a:hover{
    color: rgb(190, 221, 248);
}
a:active{
    color: aliceblue;
}
header{
    font-size: 9em;
}
#lower_nav{
    font-size: 1.2em;
}
footer a{
    font-size: large;
}
section > button{
    font-size: large;
}
.item{
    color: #6c84d1;
}
.item ul{
    font-size: larger;
}
.item a{
    color: #6c84d1;
    font-weight: bold;
}
.item a:hover{
    font-size: larger;
    color: rgb(73, 101, 126);
    font-weight: bolder;
}
.item div{
    text-align: center;
    font-size: large;
}
#left-button, #right-button{
    color: rgb(73, 101, 126);
}
#left-button:hover{
    color: rgb(0, 93, 175);
    font-size: larger;
}
#right-button:hover{
    color: rgb(0, 93, 175);
    font-size: larger;
}